.btn {
    cursor: pointer;
    font-size: 24px;
    padding: var(--spaces-small) var(--spaces-medium);
    background: var(--accent-color);
    border-radius: 10px;

    &:hover {
        filter: contrast(120%);
    }

    &:focus {
        filter: contrast(120%);
    }

    &:active {
        filter: contrast(120%);
    }

    &:disabled {
        cursor: default;
        filter: grayscale(60%);
    }
}
