.btn {
    cursor: pointer;
    font-size: 16px;
    padding: 6px 12px;
    background: var(--btn-bg-color);
    border-radius: 8px;

    &:hover,
    &:focus,
    &:active {
        background: var(--btn-hover-color);
    }

}
