.wrapper {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.error {
	color: var(--error-color);
}

.resultContainer {
	margin-top: 2rem;
}

.employeeCard {
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	padding: 1.5rem;
	margin-bottom: 1.5rem;

	h3 {
		color: var(--bg-color);
	}
}

.daysList {
	list-style: none;
	padding: 0;
	margin: 1rem 0 0;

	li {
		display: flex;
		justify-content: space-between;
		padding: 0.5rem 0;
		border-bottom: 1px solid #f0f0f0;

		&:last-child {
			border-bottom: none;
		}

		.date {
			font-weight: 500;
			color: var(--bg-color);
		}

		.time {
			color: #757575;
		}
	}
}

.noData {
	text-align: center;
	padding: 2rem;
	color: #757575;
	background-color: #f5f5f5;
	border-radius: 8px;
	font-style: italic;
}

.loadingOverlay {
	text-align: center;
	padding: 2rem;
	color: #757575;
}

.container {
	position: relative;
	width: 100%;
}

.select {
	appearance: none;
	background-color: white;
	border: 1px solid #e2e8f0;
	border-radius: 4px;
	color: #1a202c;
	cursor: pointer;
	font-size: 14px;
	height: 38px;
	outline: none;
	padding: 0 32px 0 12px;
	transition: all 0.2s ease;
	width: 100%;

	&:hover {
		border-color: #cbd5e0;
	}

	&:focus {
		border-color: #4299e1;
		box-shadow: 0 0 0 1px rgba(66, 153, 225, 0.5);
	}

	&:disabled {
		background-color: #f7fafc;
		cursor: not-allowed;
		opacity: 0.7;
	}

	option {
		font-weight: normal;
	}
}

.arrow {
	color: #718096;
	pointer-events: none;
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
}

.controlsContainer {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 16px;
	width: 100%;
}

.teamSelector {
	display: flex;
	flex-direction: column;
	gap: 4px;
	min-width: 200px;

	label {
		font-size: 14px;
		font-weight: 500;
	}
}

.employeeMetadataWrapper {
	display: flex;
	gap: 16px;
	padding-bottom: 0.75rem;
	border-bottom: 1px solid #e0e0e0;
}

.employeeNameRoleWrapper {
	display: flex;
	width: 75%;
	flex-direction: column;
	gap: 8px;
}

.checkboxContainer {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 8px;

	input {
		cursor: pointer;
	}

	label {
		font-size: 14px;
		font-weight: 500;
		cursor: pointer;
	}
}

.employeeBadge,
.freelancerBadge {
	width: fit-content;
	color: var(--white);
	font-size: 12px;
	padding: 4.2px 7.8px;
	border-radius: 12px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.employeeBadge {
	background-color: #3398db;
}

.freelancerBadge {
	background-color: #a463bf;
}

.deficitTime {
	color: var(--error-color);
	font-weight: 600;
	font-size: 14px;
	text-align: center;
}
