:root {
  /* Color Palette */
  --white: #fff;
  --bg-color: #232529;
  --alt-bg-color: #343434;
  --btn-bg-color: #464a53;
  --input-bg-color: #383b41;
  --btn-hover-color: #5d636f;
  --text-color: #ddd;

  /* Fonts */
  --main-font: 'Fira Sans', sans-serif;
  --alt-font: 'Fira Mono', monospace;

  /* Transition: */
  --transition: linear 300ms;
}
