:root {
	/* Color Palette */
	--white: #fff;
	--bg-color: #232529;
	--alt-bg-color: #343434;
	--btn-bg-color: #464a53;
	--input-bg-color: #383b41;
	--btn-hover-color: #5d636f;
	--text-color: #ddd;
	--accent-color: #ffcc00;
	--hover-color: #3d3d3d;
	--error-color: #e84e4f;

	/* Fonts */
	--main-font: 'Fira Sans', sans-serif;
	--alt-font: 'Fira Mono', monospace;

	/* Calendar */

	--adp-cell-background-color-selected: #ffcc00;
	--adp-cell-background-color-selected-hover: #ffd633;
	--adp-color-current-date: #ffcc00;
	--bs-card-border-color: rgba(255, 255, 255, 0.175);

	/* Transition: */
	--transition: linear 300ms;
}
