.wrapper {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.error {
	color: var(--error-color);
}

.text {
	font-size: 14px;
}

.incomeResult {
	font-weight: 600;
}
